* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:sans-serif;
  }
  body{
      background: #555;
  }
   
  #sidebar {
    position:absolute;
    top:0px;
    left:-200px;
    width:200px;
    height:100%;
    background:#151719;
    transition:all 300ms linear;
  }
  #sidebar.active {
    left:0px;
  }
  #sidebar .toggle-btn {
    position:absolute;
    left:220px;
    top:10px;
    cursor: pointer;
  }
  #sidebar .toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin:5px 0px;
    cursor:pointer;
  }
  #sidebar div.list div.item {
    padding:15px 10px;
    border-bottom:1px solid #444;
    color:#fcfcfc;
    text-transform:uppercase;
    font-size:15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .item:hover{
    text-shadow: 1px 1px 5px white;
  }
