.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    width: 50%;
    height: auto;
    
}
#txtKenar1{
    margin-bottom: 10px;
    border-radius: 5px;
}
#txtKenar1:focus{
    outline: none;
}
#txtKenar2{
    margin-bottom: 10px;
    border-radius: 5px;
}