body{
    background: #CAD3C8;
}
.slider{
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 300px;
    font: 19px sans-serif;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 170px auto;
    .slayt{
       img{
       width: 100%;
       }
      
    }
    #kontrol{
        position: absolute;
        right: 0;
        bottom: 10px;
        a{
            color: white;
            background: rgba(0,0,0,0.5);
            padding: 5px;
            text-decoration: none;
        }
    }
}